# Ignore node_modules for both frontend and backend
Frontend/node_modules/
Backend/node_modules/

# Ignore build or dist directories
Frontend/dist/
Frontend/build/
Backend/dist/
Backend/build/

# Ignore other common unwanted files
*.log
*.exe
